1.NIFI/Lab_1_nifi_v1.0.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>f612950c-0175-1000-922e-3893d3b6c992</groupId>
    <name>Lab_1_nifi_v1.0</name>
    <snippet>
        <connections>
            <id>45f85ecb-ba6c-3b79-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>e9b2b468-b1cf-3eab-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>600f1539-f719-37b4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>af20aec5-19de-36ac-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>e79fd6b2-837e-3339-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>b11aac8a-038b-30ab-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c2b91230-144d-3209-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>cd0c20af-888b-31de-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>978888fd-b1a9-3c35-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d0fb3446-7575-3c65-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>b11aac8a-038b-30ab-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>978888fd-b1a9-3c35-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>dc8cccf6-3595-3337-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>cd0c20af-888b-31de-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>b11aac8a-038b-30ab-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>e26c7100-a9a1-38bc-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>978888fd-b1a9-3c35-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>text message</selectedRelationships>
            <source>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>eb94734a-4174-3763-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>f4f85e48-3997-39ed-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>600f1539-f719-37b4-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>connected</selectedRelationships>
            <source>
                <groupId>426383f4-c9d9-3894-0000-000000000000</groupId>
                <id>eb94734a-4174-3763-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>00c0a3a6-25ba-3ec0-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-websocket-services-jetty-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>input-buffer-size</key>
                    <value>
                        <name>input-buffer-size</name>
                    </value>
                </entry>
                <entry>
                    <key>max-text-message-size</key>
                    <value>
                        <name>max-text-message-size</name>
                    </value>
                </entry>
                <entry>
                    <key>max-binary-message-size</key>
                    <value>
                        <name>max-binary-message-size</name>
                    </value>
                </entry>
                <entry>
                    <key>websocket-uri</key>
                    <value>
                        <name>websocket-uri</name>
                    </value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.ssl.RestrictedSSLContextService</identifiesControllerService>
                        <name>ssl-context-service</name>
                    </value>
                </entry>
                <entry>
                    <key>connection-timeout</key>
                    <value>
                        <name>connection-timeout</name>
                    </value>
                </entry>
                <entry>
                    <key>session-maintenance-interval</key>
                    <value>
                        <name>session-maintenance-interval</name>
                    </value>
                </entry>
                <entry>
                    <key>user-name</key>
                    <value>
                        <name>user-name</name>
                    </value>
                </entry>
                <entry>
                    <key>user-password</key>
                    <value>
                        <name>user-password</name>
                    </value>
                </entry>
                <entry>
                    <key>authentication-charset</key>
                    <value>
                        <name>authentication-charset</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-host</key>
                    <value>
                        <name>proxy-host</name>
                    </value>
                </entry>
                <entry>
                    <key>proxy-port</key>
                    <value>
                        <name>proxy-port</name>
                    </value>
                </entry>
            </descriptors>
            <name>JettyWebSocketClient</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>input-buffer-size</key>
                    <value>4 kb</value>
                </entry>
                <entry>
                    <key>max-text-message-size</key>
                    <value>64 kb</value>
                </entry>
                <entry>
                    <key>max-binary-message-size</key>
                    <value>64 kb</value>
                </entry>
                <entry>
                    <key>websocket-uri</key>
                    <value>wss://ws.bitstamp.net</value>
                </entry>
                <entry>
                    <key>ssl-context-service</key>
                    <value>cfca0609-5d59-38c9-0000-000000000000</value>
                </entry>
                <entry>
                    <key>connection-timeout</key>
                    <value>3 sec</value>
                </entry>
                <entry>
                    <key>session-maintenance-interval</key>
                    <value>10 sec</value>
                </entry>
                <entry>
                    <key>user-name</key>
                </entry>
                <entry>
                    <key>user-password</key>
                </entry>
                <entry>
                    <key>authentication-charset</key>
                    <value>US-ASCII</value>
                </entry>
                <entry>
                    <key>proxy-host</key>
                </entry>
                <entry>
                    <key>proxy-port</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.websocket.jetty.JettyWebSocketClient</type>
        </controllerServices>
        <controllerServices>
            <id>cfca0609-5d59-38c9-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardRestrictedSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/opt/gl-bigdata-procamp/bitstamp.truststore</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardRestrictedSSLContextService</type>
        </controllerServices>
        <labels>
            <id>03c4643b-f934-3863-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <position>
                <x>568.0</x>
                <y>448.0</y>
            </position>
            <height>24.0</height>
            <label>Faile</label>
            <style>
                <entry>
                    <key>font-size</key>
                    <value>12px</value>
                </entry>
            </style>
            <width>64.0</width>
        </labels>
        <processors>
            <id>600f1539-f719-37b4-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>232.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Regular Expression</key>
                        <value>
                            <name>Regular Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>
                            <name>Replacement Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>
                            <name>Character Set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>
                            <name>Maximum Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>
                            <name>Replacement Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>
                            <name>Evaluation Mode</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>
                            <name>Line-by-Line Evaluation Mode</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Regular Expression</key>
                        <value>.*</value>
                    </entry>
                    <entry>
                        <key>Replacement Value</key>
                        <value>{
    "event": "bts:subscribe",
    "data": {
        "channel": "live_orders_${CurrencyPair}"
    }
}</value>
                    </entry>
                    <entry>
                        <key>Character Set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Maximum Buffer Size</key>
                        <value>1 MB</value>
                    </entry>
                    <entry>
                        <key>Replacement Strategy</key>
                        <value>Regex Replace</value>
                    </entry>
                    <entry>
                        <key>Evaluation Mode</key>
                        <value>Entire text</value>
                    </entry>
                    <entry>
                        <key>Line-by-Line Evaluation Mode</key>
                        <value>All</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ReplaceText</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.ReplaceText</type>
        </processors>
        <processors>
            <id>978888fd-b1a9-3c35-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <position>
                <x>1048.0</x>
                <y>184.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>
                            <name>FlowFile Success Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>
                            <name>FlowFile Failure Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>
                            <name>FlowFile Rollback Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>
                            <name>FlowFile Rollback Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>
                            <name>FlowFile Rollback Penalty Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>
                            <name>FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>
                            <name>FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>
                            <name>No FlowFile Skip Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>
                            <name>No FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>
                            <name>No FlowFile Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>
                            <name>No FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>
                            <name>Write Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>
                            <name>Content Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>
                            <name>@OnScheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>
                            <name>Fail When @OnScheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>
                            <name>@OnUnscheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>
                            <name>Fail When @OnUnscheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>
                            <name>@OnStopped Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>
                            <name>Fail When @OnStopped called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>
                            <name>OnTrigger Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>
                            <name>CustomValidate Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>
                            <name>Ignore Interrupts When Paused</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>1 KB</value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>DebugFlow</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.DebugFlow</type>
        </processors>
        <processors>
            <id>b11aac8a-038b-30ab-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <position>
                <x>1200.0</x>
                <y>472.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>
                            <name>Create Missing Directories</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                        <value>
                            <name>Maximum File Count</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                        <value>
                            <name>Last Modified Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>
                            <name>Permissions</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                        <value>
                            <name>Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Group</key>
                        <value>
                            <name>Group</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Directory</key>
                        <value>/home/nifi/${entryDate:format("yyyy-MM-dd-HH-mm")}</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>replace</value>
                    </entry>
                    <entry>
                        <key>Create Missing Directories</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>Maximum File Count</key>
                    </entry>
                    <entry>
                        <key>Last Modified Time</key>
                    </entry>
                    <entry>
                        <key>Permissions</key>
                        <value>777</value>
                    </entry>
                    <entry>
                        <key>Owner</key>
                    </entry>
                    <entry>
                        <key>Group</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.PutFile</type>
        </processors>
        <processors>
            <id>cd0c20af-888b-31de-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <position>
                <x>448.0</x>
                <y>480.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>
                            <name>FlowFile Success Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>
                            <name>FlowFile Failure Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>
                            <name>FlowFile Rollback Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>
                            <name>FlowFile Rollback Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>
                            <name>FlowFile Rollback Penalty Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>
                            <name>FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>
                            <name>FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>
                            <name>No FlowFile Skip Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>
                            <name>No FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>
                            <name>No FlowFile Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>
                            <name>No FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>
                            <name>Write Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>
                            <name>Content Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>
                            <name>@OnScheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>
                            <name>Fail When @OnScheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>
                            <name>@OnUnscheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>
                            <name>Fail When @OnUnscheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>
                            <name>@OnStopped Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>
                            <name>Fail When @OnStopped called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>
                            <name>OnTrigger Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>
                            <name>CustomValidate Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>
                            <name>Ignore Interrupts When Paused</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>1 KB</value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>DebugFlow</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.DebugFlow</type>
        </processors>
        <processors>
            <id>e79fd6b2-837e-3339-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <position>
                <x>1200.0</x>
                <y>736.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>
                            <name>FlowFile Success Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>
                            <name>FlowFile Failure Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>
                            <name>FlowFile Rollback Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>
                            <name>FlowFile Rollback Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>
                            <name>FlowFile Rollback Penalty Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>
                            <name>FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>
                            <name>FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>
                            <name>No FlowFile Skip Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>
                            <name>No FlowFile Exception Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>
                            <name>No FlowFile Yield Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>
                            <name>No FlowFile Exception Class</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>
                            <name>Write Iterations</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>
                            <name>Content Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>
                            <name>@OnScheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>
                            <name>Fail When @OnScheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>
                            <name>@OnUnscheduled Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>
                            <name>Fail When @OnUnscheduled called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>
                            <name>@OnStopped Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>
                            <name>Fail When @OnStopped called</name>
                        </value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>
                            <name>OnTrigger Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>
                            <name>CustomValidate Pause Time</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>
                            <name>Ignore Interrupts When Paused</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>FlowFile Success Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>FlowFile Failure Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Rollback Penalty Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Skip Iterations</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Yield Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>No FlowFile Exception Class</key>
                        <value>java.lang.RuntimeException</value>
                    </entry>
                    <entry>
                        <key>Write Iterations</key>
                        <value>0</value>
                    </entry>
                    <entry>
                        <key>Content Size</key>
                        <value>1 KB</value>
                    </entry>
                    <entry>
                        <key>@OnScheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnScheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnUnscheduled Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnUnscheduled called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>@OnStopped Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Fail When @OnStopped called</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>OnTrigger Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>CustomValidate Pause Time</key>
                        <value>0 sec</value>
                    </entry>
                    <entry>
                        <key>Ignore Interrupts When Paused</key>
                        <value>false</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>DebugFlow</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.DebugFlow</type>
        </processors>
        <processors>
            <id>e9b2b468-b1cf-3eab-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>472.0</y>
            </position>
            <bundle>
                <artifact>nifi-websocket-processors-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>websocket-session-id</key>
                        <value>
                            <name>websocket-session-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>websocket-controller-service-id</key>
                        <value>
                            <name>websocket-controller-service-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>websocket-endpoint-id</key>
                        <value>
                            <name>websocket-endpoint-id</name>
                        </value>
                    </entry>
                    <entry>
                        <key>websocket-message-type</key>
                        <value>
                            <name>websocket-message-type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>websocket-session-id</key>
                        <value>${websocket.session.id}</value>
                    </entry>
                    <entry>
                        <key>websocket-controller-service-id</key>
                        <value>${websocket.controller.service.id}</value>
                    </entry>
                    <entry>
                        <key>websocket-endpoint-id</key>
                        <value>${websocket.endpoint.id}</value>
                    </entry>
                    <entry>
                        <key>websocket-message-type</key>
                        <value>TEXT</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutWebSocket</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.websocket.PutWebSocket</type>
        </processors>
        <processors>
            <id>eb94734a-4174-3763-0000-000000000000</id>
            <parentGroupId>426383f4-c9d9-3894-0000-000000000000</parentGroupId>
            <position>
                <x>512.0</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-websocket-processors-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.1</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>websocket-client-controller-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.websocket.WebSocketClientService</identifiesControllerService>
                            <name>websocket-client-controller-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>websocket-client-id</key>
                        <value>
                            <name>websocket-client-id</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>websocket-client-controller-service</key>
                        <value>00c0a3a6-25ba-3ec0-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>websocket-client-id</key>
                        <value>my_client</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>ConnectWebSocket</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>binary message</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>connected</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>text message</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.websocket.ConnectWebSocket</type>
        </processors>
    </snippet>
    <timestamp>11/23/2020 20:24:32 UTC</timestamp>
</template>
